@media (max-width: 1440px) {
  /* header */
  .header-nav-div {
    max-width: 370px;
    width: 96%;
  }
  .header-li {
    font-size: 16px;
  }
  .header-li-active {
    font-size: 16px;
  }
  #languages {
    font-size: 16px;
    font-weight: 500;
  }
  .content-us {
    background-color: #ff7420;
    width: 140px;
    height: 45px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
  }
  /* section1 */
  .section1-h2 {
    font-size: 64px;
  }
  .section1-p {
    font-size: 20px;
  }
  .section1-button-o {
    width: 200px;
    height: 64px;
    padding: 13px 25px 13px 25px;
    font-size: 20px;
  }
  .section1-button-w {
    background-color: #ffffff;
    width: 180px;
    height: 64px;
    padding: 13px 25px 13px 25px;
    font-size: 20px;
  }
}
/* _____________________________________ */

@media (max-width: 1024px) {
  /* header */
  .header-nav-div {
    max-width: 300px;
    width: 96%;
  }
  .header-li {
    font-size: 14px;
  }
  .header-li-active {
    font-size: 14px;
  }
  #languages {
    display: none;
  }
  #lang {
    display: block;
  }
  .content-us {
    background-color: #ff7420;
    width: 90px;
    height: 35px;
    padding: 2px;
    font-size: 12px;
  }
  /* section1 */
  .section1-img {
    height: 680px;
  }
  .section1-content {
    width: 520px;
    height: 380px;
  }
  .section1-h2 {
    font-size: 54px;
  }
  .section1-p {
    font-size: 18px;
  }
}
/* ---------------------------------------- */
@media (max-width: 768px) {
  /* header */
  .header-main-div {
    width: 96%;
  }
  .header-nav-div {
    display: none;
  }
  .content-us {
    display: none;
  }
  .fa-solid {
    display: block;
  }

  /* section1 */
  .section1 {
    padding-top: 0;
  }
  .section1-img {
    height: 570px;
  }
  .section1-content {
    max-width: 520px;
    width: 70%;
    height: 90%;
    justify-content: flex-end;
    gap: 15px;
  }
  .section1-h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .section1-p {
    font-size: 14px;
    line-height: 22px;
  }
  .section1-button-o {
    width: 140px;
    height: 52px;
    padding: 8px 18px 8px 18px;
    font-size: 14px;
  }
  .section1-button-w {
    background-color: #ffffff;
    width: 140px;
    height: 52px;
    padding: 8px 18px 8px 18px;
    font-size: 14px;
  }
}

/* -------------------------------------------------------- */
@media (max-width: 420px) {
  #lang {
    width: 70px;
    font-size: 12px;
  }
  .fa-solid {
    font-size: 25px;
  }
  /* section1 */
  .section1-img {
    height: 470px;
  }
  .section1-h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .section1-p {
    font-size: 12px;
    line-height: 18px;
  }
  .section1-button-o {
    width: 120px;
    height: 40px;
    padding: 4px 8px;
    font-size: 12px;
  }
  .section1-button-w {
    width: 120px;
    height: 40px;
    padding: 4px 8px;
    font-size: 12px;
  }
}

/* ------------------------------------------------------------- */
@media (max-width: 320px) {
  /* section1 */
  .section1-input-div {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .section1-img {
    height: 420px;
  }
  .section1-h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .section1-p {
    font-size: 10px;
    line-height: 14px;
  }
  .section1-button-o {
    width: 120px;
    height: 40px;
    padding: 4px 8px;
    font-size: 12px;
  }
  .section1-button-w {
    width: 120px;
    height: 40px;
    padding: 4px 8px;
    font-size: 12px;
  }
}
