.header {
  background-color: #191a19;
  width: 100%;
  padding: 44px 0;
  position: fixed;
  z-index: 100;
}
.header-main-div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-solid {
  display: none;
}
.fa-bars-progress {
  font-size: 30px;
  color: #ff7420;
}

.logo {
  background-image: url(/pic/logo-o.png);
  width: 280px;
  height: 44px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
}
.header-nav-div {
  max-width: 505px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}
.header-ul {
  display: flex;
  justify-content: space-between;
}
.header-li {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #ffffff;
}
.header-li-active {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #ff7420;
}
.header-li-active:after {
  content: "";
  display: block;
  border-bottom: 3px solid #ff7420;
  margin-bottom: -1px;
}
.header-right-div {
  display: flex;
  align-items: center;
}
#languages {
  max-width: 165px;
  width: 100%;
  background-color: #191a19;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
}
#lang {
  display: none;
  width: 80px;
  background-color: #191a19;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  margin-right: 6px;
}
.content-us {
  background-color: #ff7420;
  width: 194px;
  height: 66px;
  padding: 15px 30px;
  border-radius: 15px;
  gap: 10px;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #ffffff;
}

/* section1 */
.section1 {
  padding-top: 100px;
}
.section1-img {
  background-image: url(/pic/1.png);
  position: relative;
  height: 775px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section1-content {
  position: absolute;
  width: 607px;
  height: 415px;
  top: 50%;
  transform: translate(10%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section1-h2 {
  font-family: "Poppins";
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
  color: #ffffff;
}
.section1-p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
}
.section1-input-div {
  display: flex;
  gap: 24px;
}
.section1-button-o {
  background-color: #ff7420;
  width: 246px;
  height: 66px;
  padding: 15px 30px 15px 30px;
  border-radius: 15px;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}
.section1-button-w {
  background-color: #ffffff;
  width: 208px;
  height: 66px;
  padding: 15px 30px 15px 30px;
  border-radius: 15px;
  color: #191a19;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}
